.controlsPanel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-block-end: 10px;
}

.sortByButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 205px;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  color: var(--color-white);
}

.sortItem {
  padding: 9px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}

.controlsButton {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 5px;
  background-color: #00979a;
  color: var(--color-white);
  transition: transform 0.2s;

  &:active {
    transform: translateY(2px);
  }
}

.clientList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

@media (max-width: 691px) {
  .clientList {
    grid-template-columns: 1fr;
  }
}
